In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('ETH_1h.csv', parse_dates=['Date'])

In [4]:
df.drop(['Unix Timestamp'], axis = 1, inplace=True)

In [5]:
df.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %I-%p')

In [7]:
df.loc[1, 'Date'].day_name()

'Wednesday'

In [8]:
df['Day of Week'] = df['Date'].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,Day of Week
0,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...
34492,2016-05-09 17:00:00,ETHUSD,9.83,9.83,9.48,9.49,329.553213,Monday
34493,2016-05-09 16:00:00,ETHUSD,9.99,9.99,9.79,9.83,62.379450,Monday
34494,2016-05-09 15:00:00,ETHUSD,10.00,10.00,9.99,9.99,10.973567,Monday
34495,2016-05-09 14:00:00,ETHUSD,9.55,10.00,9.55,10.00,235.774075,Monday
34496,2016-05-09 13:00:00,ETHUSD,0.00,12.00,0.00,9.55,432.562115,Monday

In [9]:
df['Date'].max()

Timestamp('2020-04-16 00:00:00')

In [10]:
df['Date'].max() - df['Date'].min()

Timedelta('1437 days 11:00:00')

In [19]:
filt = (df['Date'] < pd.to_datetime('2020-01-01')) & (df['Date'] >= pd.to_datetime('2019-01-01'))
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Day of Week
2545,2019-12-31 23:00:00,ETHUSD,128.68,128.85,127.82,128.84,857.650259,Tuesday
2546,2019-12-31 22:00:00,ETHUSD,128.40,128.93,127.77,128.68,3050.507350,Tuesday
2547,2019-12-31 21:00:00,ETHUSD,127.87,128.41,127.81,128.40,447.680372,Tuesday
2548,2019-12-31 20:00:00,ETHUSD,127.86,128.30,127.86,127.87,151.711128,Tuesday
2549,2019-12-31 19:00:00,ETHUSD,128.78,128.78,127.86,127.86,2450.933248,Tuesday
...,...,...,...,...,...,...,...,...
11297,2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465,Tuesday
11298,2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291,Tuesday
11299,2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380,Tuesday
11300,2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541,Tuesday
11301,2019-01-01 00:00:00,ETHUSD,130.80,131.70,130.00,131.10,1288.434493,Tuesday

In [30]:
df.loc['2019-01' : '2019-04']

,Symbol,Open,High,Low,Close,Volume,Day of Week
Date,,,,,,,
2019-04-30 23:00:00,ETHUSD,160.46,160.46,159.61,160.41,335.264384,Tuesday
2019-04-30 22:00:00,ETHUSD,157.56,161.13,157.56,160.46,5391.444769,Tuesday
2019-04-30 21:00:00,ETHUSD,156.50,157.56,156.28,157.56,372.600051,Tuesday
2019-04-30 20:00:00,ETHUSD,156.18,156.67,155.99,156.50,310.915224,Tuesday
2019-04-30 19:00:00,ETHUSD,156.67,156.67,156.15,156.18,2883.350068,Tuesday
...,...,...,...,...,...,...,...
2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465,Tuesday
2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291,Tuesday
2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380,Tuesday
2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541,Tuesday
2019-01-01 00:00:00,ETHUSD,130.80,131.70,130.00,131.10,1288.434493,Tuesday

In [33]:
df.loc['2019-01' : '2019-04']['Close'].median()

136.37

In [37]:
df.loc['2019-03-06']['High'].max()

140.18

In [43]:
df['High'].resample('M').max()

Date
2016-05-31      14.77
2016-06-30      25.05
2016-07-31      15.72
2016-08-31      13.50
2016-09-30      14.45
2016-10-31      13.70
2016-11-30      11.95
2016-12-31       8.75
2017-01-31      11.94
2017-02-28      16.97
2017-03-31      54.54
2017-04-30      79.80
2017-05-31     234.00
2017-06-30     418.50
2017-07-31     293.65
2017-08-31     390.85
2017-09-30     398.07
2017-10-31     350.00
2017-11-30     515.61
2017-12-31     872.00
2018-01-31    1420.01
2018-02-28    1148.66
2018-03-31     879.00
2018-04-30     710.00
2018-05-31     833.00
2018-06-30     628.00
2018-07-31     515.88
2018-08-31     434.39
2018-09-30     302.00
2018-10-31     234.87
2018-11-30     222.78
2018-12-31     159.26
2019-01-31     160.70
2019-02-28     165.50
2019-03-31     145.74
2019-04-30     188.00
2019-05-31     288.93
2019-06-30     363.85
2019-07-31     318.40
2019-08-31     239.14
2019-09-30     224.71
2019-10-31     199.38
2019-11-30     194.79
2019-12-31     152.36
2020-01-31     186.88
2020-02-29     289.58
2020-03-31     252.16
2020-04-30     176.74
Freq: M, Name: High, dtype: float64

In [46]:
resampled = df.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low' : 'min', 'Volume' : 'sum'})

In [50]:
resampled.to_json('modified.json', orient ='records', lines=True)
resampled

                 Close    High     Low         Volume
Date
2016-05-15   10.205290   12.00    0.00   10988.942273
2016-05-22   13.066964   14.77   10.06   40673.495362
2016-05-29   12.471012   14.43   10.41   58051.809091
2016-06-05   13.594583   16.05   12.41   47351.544496
2016-06-12   14.297798   15.75   13.83   52002.171838
...                ...     ...     ...            ...
2020-03-22  124.636012  153.17  100.70  439980.283707
2020-03-29  133.285893  144.14  119.17  230941.584515
2020-04-05  137.627440  150.32  124.09  151022.864981
2020-04-12  163.693929  176.74  142.87  204715.937994
2020-04-19  156.778219  162.15  150.12   50776.889638

[206 rows x 4 columns]